<html>

<head>
    <title>{{ title }} Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Review Analyzer</h1>
    <form method="POST" action="{{('/')}}">
        <textarea name="review" placeholder="Write your review...." rows="10" cols="109"></textarea><br><br>

        <input class="example_a" type="submit">
    </form>
    {% if final %}
    <div>
        <h2>The Sentiment of</h2> '{{ review }}' <h2>is {{ final }}% positive !</h2>
        {% else %}
        <p></p>
        {% endif %}
    </div>
</body>

</html>